	 
      
      body { 
        background-image: url("https://media.vanityfair.com/photos/5a943a88e6cd8a4072c5d6ee/master/w_768,c_limit/t-NYT-Exterior.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #F2F6D0 }
      #wrapper {
        color: white;
        background-color: rgba(0,0,0,0.5);
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }
      #articles {
        background: #F2F6D0;
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 700px;
        color: black;
      }
      #notes {
        float: right;
        width: 30%;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color: #FCF5C7;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }
    